div{
    width: 800px;
}
.color_palette{
    width: 600px;
    /* height: 500px; */
    /* background-color: aqua; */
    /* border: 1px solid #000; */
    box-shadow: 10px 10px 40px rgba(0, 0, 10, 0.5);
}
p{
    width: 600px;
    height: 80px;
    /* border: 1px solid #000; */
    font-size: 20px;
    font-family: "微軟正黑體";
    font-weight: 200;
    line-height: 2;
    text-align: right;
    margin: 0;
}
.color1{
    background-color: #072652;
    color: #afcefa;
}
.color2{
    background-color: #0b397a;
    color: #96b1d6;
}
.color3{
    height: 120px;
    background-color: #0f4ea6;
    color: #788dab;
}
.color4{
    background-color: #1467db;
    color: #596980;
}
.color5{
    background-color: #1778ff;
    color: #3d4757;
}